h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 90%;
  margin: 0 auto; /* Ajout de cette règle */
  box-sizing: border-box;
  background-color: lightgrey;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-content {
  font-size: 16px;
  margin-bottom: 10px;
}

.post-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-author {
  font-size: 14px;
}

.post-created-at {
  font-size: 14px;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #aaa;
}
.add-post-link {
  margin-left: 74px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.add-post-link:hover {
  background-color: #ddd;
}
.edit-post-link {
  position: right;
  top: 0;
  right: 0;
  color: red;
}
